body {
  width: 1345px;
}

header { /*Tout ce qu'il y a après jusqu'au prochain commentaire concerne mon header */
  margin: 15px;
}

header a {
  float: right;
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  font-size: 13px;
  font-family: arial;
  padding-top: 4px;
  padding-right: 4px;
  color: #696969;
}

a:hover { /*Me permet de souligner mon lien lorsqu'il est pointé par la souris*/
  text-decoration: underline;
}

 header img {
   float: right;
   display: inline-block;
   padding: 5px;
   margin-left: 10px;
   margin-right: 10px;
 }

header button {
  float: right;
  display: inline-block;
  width: 93px;
  height: 30px;
  background-color: #4486f9;
  color: white;
  font-size: 13px;
  border-radius: 2px;
  border: none;
  margin-top: 1px;
  margin-right: 7px;
}

.Google { /*ici c'est une image de google*/
  margin-left: 527px;
  margin-top: 175px;
}



input { /*Ma barre de recherche*/
  width: 585.5px;
  height: 45px;
  margin-top: 20px;
  margin-left: 389px;
  border-radius: 3px;
  border: 1px ridge #DCDCDC;
  padding-top: 15px;
  box-shadow: 0px 4px 3px 1px #DCDCDC;
}


.LeftButton {
  float: left;
  margin-left: 520px;
  margin-top: 30px;
  background-color: #f5f5f5;
  height: 35px;
  width: 150px;
  border: 1px ridge #EFEFEF;
  color: #798081;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}

.RightButton {
  float: right;
  margin-right: 520px;
  margin-top: 30px;
  background-color: #f5f5f5;
  height: 35px;
  width: 150px;
  border: 1px ridge #EFEFEF;
  color: #798081;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}

footer {
  width: 1345px;
  height:37px;
  background-color: #f5f5f5;
  margin-top: 155px;
  border: 1px ridge #DCDCDC;
  font-size: 13px;
  font-family: Arial;
  color: #798081;
}

.left { /*Concerne les mots en pied de page à gauche*/
  width: 300px;
  margin: 7px 0 0 5px;
  display: inline-block;
}

.pLeft {
  width: auto;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin: 5px 16px 6px 16px;
}

.right { /*Concerne les mots en pied de page à droite*/
  width: 430px;
  margin: -35px 0 0 905px;
  display: inline-block;
}

.pRight {
  width: auto;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin: -5px 9px 10px 12px ;
}
